{% extends "base.html" %}

{% block title %}Unibank{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center align-middle">
            <img src="static/logo200x200.png" class="rounded">
            <h1>Welcome to Unibank</h1>
            <a href="/login" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Log In</a>
            <a href="/register" class="btn btn-light btn-lg" role="button" aria-pressed="true">Register</a>
        </div>

    </div>
{% endblock %}